services:
    postgres:
        image: postgres:16
        container_name: challenge_postgres
        restart: always
        ports:
            - 5001:5432
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - pgdata:/var/lib/postgresql/data

    adminer:
        image: adminer:latest
        container_name: challenge_adminer
        restart: always
        ports:
            - 8081:8080
        depends_on:
            - postgres

volumes:
    pgdata:
